.mb-5rem
    margin-bottom: 5rem
#about-info
    position: relative
    p
        max-width: 1087px
        margin-left: auto
        margin-right: auto 
    .service
        padding: 1rem auto
    .column
        text-align: center

        img
            width: 50px
    svg
        position: absolute
        // top: -100px
        z-index: -1
        left: 0
        right: 0
        bottom: 0px
#about-desc
    .lead
        font-size: 1.2rem
        font-weight: bold
        margin-bottom: 0.1rem
    .column
        p
            margin-top: 0.1rem

#about-info
    .column
        width: 20%
        flex-basis: 20%
@media (max-width: 994px) and (min-width: 600px)
    #about-info
        .column
            width: 50%
            flex-basis: 50%
            &:nth-child(3)
                width: 33.33%
                flex-basis: 33.33%
                justify-content: center
            &:nth-child(4)
                width: 33.33%
                flex-basis: 33.33%
                justify-content: center
            &:nth-child(5)
                width: 33.33%
                flex-basis: 33.33%
                justify-content: center
@media (max-width: 599px)
    #about-info
        .column
            width: 100%
            flex-basis: 100%

#about-desc
    .column
        flex-basis: 25%
        width: 25%

        @media (max-width: 992px)
            flex-basis: 50%
            width: 50%
        // @media (max-width: 992px)
        //     flex-basis: 50%
        //     width: 50%