#hero
    position: relative
    min-height: 100vh
    &.careers-page
      svg
        height: 800px
    svg
      position: absolute
      top: 0
      z-index: -1
      right: 0
    .lead
      line-height: 2
    p
        line-height: 1
    .content
        min-height: 600px
        display: flex
        align-items: center
        // flex-direction: column
        .lead
            color: $primary
            font-size: 1.2rem
        p
            font-weight: 400
    
    .nav-links ul li a
      color: $primary 
    .hero-img
        position: absolute
        top: 50%
        width: 100%
        right: 5%
        transform: translateY(-50%)
        max-width: 600px
        z-index: -1
#hero-home
  min-height: 100vh
  svg
    position: absolute
    top: 0
    right: 0
    z-index: -1
    height: 50vw
  h2
    font-size: 5rem
    color: $primary
    margin-bottom: 0.5rem
    max-width: 650px;
  p
    line-height: 2
    color: $dark
  
.columns
  display: flex
.column-4
  flex-grow: 4
  flex-basis: 20%
.column-8
  flex-grow: 8

@media (max-width: 1650px)
  #hero-home
    
    h2
      font-size: 5vw
@media (max-width: 1587px)
  #home-hero
    svg
      height: 55vw
@media (max-width: 1215px)
  #hero-home
    .columns
      justify-content: center
      max-width: 600px
      margin: auto
    .column
      flex-basis: 100%
    svg
      top: -323px
      height: 72vw

@media (max-width: 1080px)
  #hero-home
    svg
      // top: -250px
      // height: 70vw
