.column
    flex-basis: 50%

#what-we-do
    .background-image
        background-position: 50% -150%
    .mh-400
        min-height: 500px

#why-us
    position: relative
    svg
        position: absolute
        top: -100px
        z-index: -1
    .service
        padding: 1.5rem
        img
            height: 80px

#more
    position: relative
    svg
        position: absolute
        bottom: 0
        z-index: -1
        left: 0
        right: 0