.column
    flex-basis: 50%

#what-we-do
    .background-image
        background-position: 50% -150%
    .mh-400
        min-height: 500px

#why-us
    position: relative
    svg
        position: absolute
        top: 0px
        z-index: -1
    .service
        padding: 1.5rem
        img
            height: 80px