#hero
  &.services-page
    img
      right: 10%
      max-width: 500px
#services
  .columns
    width: 60%
    margin: auto
  .column
    justify-content: center
    display: flex
  .item
    max-width: 300px
    margin-top: 5rem
    h5
      font-size: 1.2rem
      color: $primary
      margin-bottom: 0.8rem
    img
      width: 75px
    