@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700,900')

body
  font-family: 'Poppins', sans-serif
  font-size: 14px
  background: #ffffff

.wrapper
  width: 90%
  margin: auto

img
  max-width: 100%

.hidden
  display: none

.text-accent
  color: $accent
.full-height
  height: 100%

p
  line-height: 2
  color: $dark
  font-size: 1.1rem
.mb-5
  margin-bottom: 3rem
.mt-5
  margin-top: 3rem
.mr-3
  margin-right: 2rem
.btn
  box-sizing: border-box
  position: relative
  user-select: none
  cursor: pointer
  outline: 0
  border: none
  -webkit-tap-highlight-color: transparent
  display: inline-block
  white-space: nowrap
  text-decoration: none
  vertical-align: baseline
  text-align: center
  min-width: 88px
  line-height: 36px
  padding: 2px 40px
  border-radius: 50px
  overflow: visible
  box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
  transform: translate3d(0,0,0)
  transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1)

.btn-accent
  color: #ffffff
  background-color: $accent

.btn-success
  color: #ffffff
  background-color: $success

.display-flex
  display: flex
.justify-content-center
  justify-content: center

.section
  padding: 6rem 0

.background-image
  background-repeat: no-repeat
  background-size: contain

.heading
  font-size: 3rem
  color: $primary
  margin-bottom: 0.5rem

.w-80
  width: 80%

.hightlight
  font-weight: bold
  margin: 1rem 0
  color: $primary

.text-right
  text-align: right
.text-center
  text-align: center

.list-unstyled
  list-style-type: none

.align-self-center
  align-self: center